<div id="menu" class="container black xxlarge padding-64">
  <h1 class="center jumbo padding-32">PIZZA</h1>
  <div
    style="margin: 0px 50px"
    *ngFor="let menu of pizzaItems"
    id="pizza"
    class="container white padding-32"
  >
    <h1>
      <b>{{ menu.food_name }}</b>
      <span *ngIf="menu.is_best_deal" class="tag red round">Best Deal!</span>

      <div *ngIf="menu.has_discount" class="discount right tag dark-grey round">
        <span
          style="position: relative; right: 10px"
          *ngIf="menu.has_discount"
          class="tag red round"
          >{{ menu.discount_in_percentage }}% discount</span
        >
        {{ totalPrice(menu).totalPrice }}BDT
      </div>
      <br />
      <div style="margin-top: 5px" class="right tag dark-grey round">
        {{ totalPrice(menu).discountedPrice }}BDT
      </div>
    </h1>
    <ng-container *ngFor="let item of menu.items">
      <p class="text-grey">{{ item.name }} - {{ item.price }}BDT</p>
    </ng-container>
    <hr />
  </div>

  <h1 id="pasta" class="center jumbo padding-32">PASTA</h1>
  <div
    style="margin: 0px 50px"
    *ngFor="let menu of pastaItems"
    id="pasta"
    class="container white padding-32"
  >
    <h1>
      <b>{{ menu.food_name }}</b>
      <span *ngIf="menu.is_best_deal" class="tag red round">Best Deal!</span>
      <div *ngIf="menu.has_discount" class="discount right tag dark-grey round">
        <span
          style="position: relative; right: 10px"
          *ngIf="menu.has_discount"
          class="tag red round"
          >{{ menu.discount_in_percentage }}% discount</span
        >
        {{ totalPrice(menu).totalPrice }}BDT
      </div>
      <br />
      <div style="margin-top: 5px" class="right tag dark-grey round">
        {{ totalPrice(menu).discountedPrice }}BDT
      </div>
    </h1>
    <ng-container *ngFor="let item of menu.items">
      <p class="text-grey">{{ item.name }} - {{ item.price }}BDT</p>
    </ng-container>
    <hr />
  </div>

  <h1 id="starters" class="center jumbo padding-32">STARTERS</h1>
  <div
    style="margin: 0px 50px"
    *ngFor="let menu of startersItems"
    id="starter"
    class="container white padding-32"
  >
    <h1>
      <b>{{ menu.food_name }}</b>
      <span *ngIf="menu.is_best_deal" class="tag red round">Best Deal!</span>
      <div *ngIf="menu.has_discount" class="discount right tag dark-grey round">
        <span
          style="position: relative; right: 10px"
          *ngIf="menu.has_discount"
          class="tag red round"
          >{{ menu.discount_in_percentage }}% discount</span
        >
        {{ totalPrice(menu).totalPrice }}BDT
      </div>
      <br />
      <div style="margin-top: 5px" class="right tag dark-grey round">
        {{ totalPrice(menu).discountedPrice }}BDT
      </div>
    </h1>
    <ng-container *ngFor="let item of menu.items">
      <p class="text-grey">{{ item.name }} - {{ item.price }}BDT</p>
    </ng-container>
    <hr />
  </div>

  <button class="go-top" (click)="onTop()">Go Top</button>
</div>
