.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

p {
  font-size: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.container:after,
.container:before,
.panel:after,
.panel:before,
.row:after,
.row:before,
.row-padding:after,
.row-padding:before,
.cell-row:before,
.cell-row:after,
.clear:after,
.clear:before,
.bar:before,
.bar:after {
  content: "";
  display: table;
  clear: both;
}

.black,
.hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.xxlarge {
  font-size: 36px !important;
}

.padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.center {
  text-align: center !important;
}

.jumbo {
  font-size: 64px !important;
}

.padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.container:after,
.container:before,
.panel:after,
.panel:before,
.row:after,
.row:before,
.row-padding:after,
.row-padding:before,
.cell-row:before,
.cell-row:after,
.clear:after,
.clear:before,
.bar:before,
.bar:after {
  content: "";
  display: table;
  clear: both;
}

.container,
.panel {
  padding: 0.01em 16px;
}

.white,
.hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.red,
.hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

.round-small {
  border-radius: 2px;
}
.round,
.round-medium {
  border-radius: 4px;
}
.round-large {
  border-radius: 8px;
}
.round-xlarge {
  border-radius: 16px;
}
.round-xxlarge {
  border-radius: 32px;
}
.right {
  float: right !important;
}
.discount{
  text-decoration: line-through red;
}

.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.dark-grey,
.hover-dark-grey:hover,
.dark-gray,
.hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important;
}

.text-grey,
.hover-text-grey:hover,
.text-gray,
.hover-text-gray:hover {
  color: #757575 !important;
}

.go-top {
  font-family: "Amatic SC", sans-serif;
  cursor: pointer;
  font-size: 36px !important;
  color: #fff;
  position: relative;
  bottom: 8rem;
  left: 107rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}
