.container,
.panel {
  padding: 0.01em 16px;
}
.panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.red,
.hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}

.grayscale {
  filter: grayscale(75%);
  height: 100%;
  width: 100%;
}

.xlarge {
  font-size: 24px !important;
}

.padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.center {
  margin-top: 50px;
  text-align: center !important;
}

.jumbo {
  font-size: 64px !important;
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.stretch {
  margin-left: -16px;
  margin-right: -16px;
}

.class {
  display: flex;
  align-items: center;
  justify-content: center;
}
