<div id="about" class="container red grayscale xlarge padding-64">
  <h1 class="center jumbo">About</h1>

  <p>
    The Restaurant was founded in blabla by Mr. Italiano in lorem ipsum dolor
    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <p>We are proud of our interiors.</p>

  <div class="center">
    <div>
      <h1><b>Opening Hours</b></h1>
    </div>
    <div class="row">
      <div class="half">
        <p>Mon &amp; Tue CLOSED</p>
        <p>Wednesday 2PM - 11PM</p>
        <p>Thursday 2PM - 11PM</p>
      </div>
      <div class="half">
        <p>Friday 2PM - 11PM</p>
        <p>Saturday 2PM - 11PM</p>
        <p>Sunday 2PM - 11PM</p>
      </div>
    </div>
  </div>
</div>
