<div
  style="
    background-image: url('../../../../assets/images/pizza.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
  "
  class="display-container grayscale-min"
>
  <div
    style="
      height: 800px;
      background-image: url('img_pizza.jpg');
      background-size: cover;
    "
    class="display-container grayscale-min"
  ></div>
  <div class="display-bottomleft">
    <span class="tag xlarge">Open from 2PM to 11pm</span>
  </div>
  <div class="display-middle center">
    <span class="text-white" style="font-size: 100px"
      >Let's have Dunch<br />
      (Dinner + Lunch)</span
    >
  </div>
</div>
