.display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}
.display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.display-container {
  position: relative;
}
.tooltip .text {
  display: none;
}
.tooltip:hover .text {
  display: inline-block;
}

.grayscale-min {
  filter: grayscale(50%);
}

.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.xlarge {
  font-size: 24px !important;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.center {
  text-align: center !important;
}

.text-white,
.hover-text-white:hover {
  color: #fff !important;
}
