<div class="top bar xlarge black opacity-min">
  <a style="font-size: 50px; font-weight: bold;" routerLink="home" class="bar-item button">Dunch</a>
  <a routerLink="home" class="bar-item button">HOME</a>
  <a routerLink="menu" class="bar-item button">MENU</a>
  <a routerLink="about" class="bar-item button">ABOUT</a>
</div>
