* {
  box-sizing: border-box;
}

.top {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}

.bar .button {
  white-space: normal;
}

.xlarge {
  font-size: 24px !important;
}

.black,
.hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.opacity-min {
  opacity: 0.75;
}

.bar-item {
  text-align: center;
}

.bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  color: #fff;
  text-decoration: none;
}
